.head{

    background: linear-gradient(to right, #8f0808, #240503);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: black;
height: 130px;}
.head_text{color: antiquewhite;}
.head marquee{color: antiquewhite;}
.hello{margin-left: 750px;
font-size:28px;
transform: translateY(-200px);
color: bisque;}
.menu{color:blue;
font-size:24px;}
body{background:url(background.jpg);}
.coment{transform: translateY(-280px);
margin-left: 1600px}
a{text-decoration: none;
color: rgb(0, 0, 0);}